h1{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}

body{
  background-color: lightblue;
}

.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}

.form-control:hover{
  color: black;
  background-color: white;
}

.banner {
  position: relative;
  height: 400px;
  margin-bottom: 20px;
  width: 1600px;
  background: black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(UFO.jpg);
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  text-align: center;
}

.banner > h1 {
  position: absolute;
  opacity: 0.5;
  margin-top: 150px;
  margin-left: 25%;
  margin-right: 25%;
  color: light blue;
  font-size: 5em;
}